{% extends 'Base/base.html' %}
{% load static %}
{% block content %}

        <div class="d-grid gap-4 col-lg-9 border-end">
    <h1>Bienvenido a la Cajita de Cascabeles</h1>
    <div id="carouselExampleAutoplaying" class="carousel slide " data-bs-ride="carousel">
      <div class="d-grid gap-2 col-5 mx-auto">  
      <div class="carousel-inner align-middle">
          {% for producto in productos|slice:":3" %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="{{ producto.imagen }}" class="d-block w-100 rounded" alt="{{producto.nombre}}">
            <div class="figure-caption d-none d-md-block text-center">
              <h5>{{producto.nombre}}</h5>
              <p>${{producto.precio}} {{producto.moneda}} Tamanno:{{producto.tamanno}}cm</p>
            </div>
      
          </div>
          {% endfor %}
        </div>
      </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

    <div class="d-grid gap-2 col-6 mx-auto">
        <h2>¿Qué desea hacer?</h2>
        <div class="container-fluid row">
        <a class="btn btn-success col me-2" href="{% url 'facturas' %}">Crear Factura</a>
        <a class="btn btn-success col me-2" href="{% url 'productos' %}">Revisar Productos</a>
    </div>
    </div>
    </div>
    <div class="col-sm-3 justify-content-end">
      <div>
        <h3>Ultimas Publicaciones</h3>
        
        <ul>
          {% for producto in productos|slice:":5" %}
          <li>
            {{producto.nombre}}, Precio: {{producto.precio}} {{producto.moneda}}
          </li>
          {% endfor %}
        </ul>
      </div>
      <div>
      <div class="img justify-content-center">
        <img src="{% static 'logo.png' %}" alt="logo" width="100%">
      </div>
        <div class="text">
          <p>
            Tienda de articulos anime-gamer por encargos
          </p>
        </div>
      </div>
  </div>
  
{% endblock %}