{% extends 'Base/base.html' %}
{% load static %}
{% block content %}


        <!-- Lista de Clientes -->
        <div class="col-md-3 border-end" id="clientes-list">
            <h2>Clientes</h2>
            <ul class="list-group" id="client-list">
                {% for cliente in clientes %}
                <li class="btn-group mt-2">
                <button class="btn btn-outline-success" data-numero-wsp="{{ cliente.numero_wsp }}">
                    <b>{{ cliente.nombre }}</b><br> 
                    +53{{ cliente.numero_wsp }}</button>
                
                </li>
                {% endfor %}
                
                </table>
            </ul>
        </div>
        <!-- Detalles de Productos -->
<div class="col-md-7" id="productos-details">
    <h2>Productos</h2>
    <div id="productos-container">
        <p>Selecciona un cliente para ver sus productos.</p>                
    </div>
</div>

        

<style>
    .fecha-producto {
        margin-top: 20px;
        border-top: 1px solid #ccc;
        padding-top: 10px;
    }
</style>

<script src="{% static 'clientes.js' %}"></script>



{% endblock %}