{% extends 'Base/base.html' %}
{% load static %}
{% block content %}
<div class="container col">
    <h2>Productos de: {{ cliente.nombre }} <a href="{% url 'clientes' %}" class="btn btn-warning mt-2 me-2 float-end">Salir</a></h2>
    <h4>Factura del: {{ fecha }}</h4>
    <form class="form-control-sm" id="producto-form" method="POST">
        {% csrf_token %}
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2"><h5>Productos</h5></th>
                    <th><h5>Cantidad</h5></th>
                    <th><h5>Precio</h5></th>
                    <th><h5>Cambio</h5></th>
                    <th colspan="3"><h5>Estado</h5></th>
                    
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>
                        <input class="form-control" type="text" name="nombre_producto_{{ producto.pk }}" value="{{ producto.nombre_producto }}" required>
                    </td>
                    <td>
                        <input class="form-control" type="text" name="enlace_temu_{{ producto.pk }}" value="{{ producto.enlace_temu }}" required>
                    </td>
                    <td class="col-1">
                        <input class="form-control" type="number" name="cantidad_{{ producto.pk }}" value="{{ producto.cantidad }}" required>
                    </td>
                    <td>
                        <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input class="form-control" type="number" step="0.10" name="precio_{{ producto.pk }}" value="{{ producto.precio }}" required><span class="input-group-text">USD</span></div>
                    </td>
                    <td class="col-2">
                        {% if producto.cambio_cup != 0 %}
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" type="number" name="cambio_cup_{{ producto.pk }}" value="{{ producto.cambio_cup}}" step="0.10" required id="id_cambio_cup">
                            <span class="input-group-text">CUP</span>
                        </div>
                        {% elif producto.cambio_mlc != 0%}
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input class="form-control" type="number" name="cambio_mlc_{{ producto.pk }}" value="{{ producto.cambio_mlc }}" step="0.10" required id="id_cambio_mlc">
                            <span class="input-group-text">MLC</span>
                        </div>
                        {% else %}
                        <b>$0.00</b>
                        {% endif %}
                    </td>
                    <td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="encargado_{{ producto.pk }}" id="id_encargado" {% if producto.encargado %}checked{% endif %}> <b>Encargado</b></div>
                    </td><td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="recibido_{{ producto.pk }}" id="id_recibido" {% if producto.recibido %}checked{% endif %}> <b>Recibido</b> </div>
                    </td><td>
                        <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="entregado_{{ producto.pk }}" id="id_entregado" {% if producto.entregado %}checked{% endif %}> <b>Entregado</b></div>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary">Actualizar Productos</button>
    </form>
</div>
<script>
    document.getElementById('producto-form').addEventListener('submit', function(event) {
        if (!confirm('¿Estás seguro de que deseas actualizar todos los productos?')) {
            event.preventDefault(); // Evitar el envío del formulario si el usuario cancela
        }
    });
</script>
{% endblock %}
